
.article{
    padding: 2em;
    border: 1px solid #ccc;
    background-color: #ffffff;
    h1 {
        color: #F42;
        font-weight: 700;
        letter-spacing: -.03em;
        font-size: 48px;
    }
    p {
        font-size: 1.2em;
    }

    img {
        width: 100%;
    }
}

